.cta-guide {
  background-color: var(--color-grey);
  padding: 20px 40px;
  height: 200px;
  width: calc(100% - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  lost-align: top;
  lost-utility: clearfix;

  .left, .right {
    lost-column: 1/2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .right {
    align-items: flex-end;
  }

  p {
    margin-left: 40px;
    font-family: var(--roboto);
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
  }

  a {
    position: realative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-black);
    /*height: 55px;
    width: 255px;
    background-color: var(--color-primary-yellow);*/
    font-family: var(--montserrat);
    font-size: 24px;
    font-weight: 500;
    padding: 0 20px;
    margin: 10px 70px;
    cursor: pointer;
    text-decoration: none;

    .smallBlob {
      position: absolute;  
      right: 330px; 
      width: 200px;
      z-index: -1;
      transform: scale(1);
      transform-origin: center;
      transition: all .8s ease-out;
    }

    .arrow {
      display: flex;
      margin-left: 20px;
    }
  }
  
  h1 {
    font-family: var(--montserrat);
    font-weight: 700;
    font-size: 36px;
    color: var(--color-black);
    text-align: center;
    display: inline-flex;
  }


}

.cta-guide2 {
  background-color: var(--color-grey);
  padding: 80px;
  height: auto;
  width: calc(100% - 80px);
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  lost-align: center;
  lost-utility: clearfix;

  .text-container {
    width: 600px;
    position: relative;
  }

  .left, .right {
    lost-column: 1/2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .right {
    align-items: flex-end;
  }

  p {
    font-family: var(--roboto);
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  a {
    font-family: var(--montserrat);
    color: var(--color-black);
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
  }
  
  h1 {
    margin: 0;
    font-family: var(--montserrat);
    font-weight: 700;
    font-size: 36px;
    color: var(--color-black);
    text-align: center;
    display: inline-flex;
    margin-bottom: 20px;
  }

  .smallBlob {
    position: absolute; 
    top: -60px; 
    left: -40px; 
    width: 200px;
    z-index: -1;
    transform: scale(1);
    transform-origin: center;
    transition: all .8s ease-out;
  }



}
@keyframes fadeIn {
  0% { right: -90px; }
  50% { right: -120px; }
  100% { right: -90px; }
}
@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
