.cta {

  a {
    overflow: hidden;
    position: relative;
    width: calc(100vw - 80px);
    padding: 20px 40px;
    background-color: var(--color-grey);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  
  .section-headline {
    position: absolute;
    z-index: 5;
    font-family: var(--montserrat);
    font-weight: 700;
    font-size: 36px;
    color: var(--color-black);
    text-align: center;
  }

    .triangle {
    position: absolute; 
    
    &.one {
      width: 1000px; 
      height: 1000px; 
      bottom: 100px;
      left: 300px;
      z-index: 3;
      opacity: 0.8;
    }

    &.two {
      width: 400px;
      height: 400px;
      bottom: 0;
      left: 0;
      z-index: 3;
      opacity: 0.6;
      transform: rotate(145deg);
    }

    &.three {
      width: 600px;
      height: 600px;
      right: 100px;
      bottom: 300px;
      z-index: 2;
      opacity: 0.4;
      transform: rotate(25deg);
    }
  } 
}