.cta {

  a {
    overflow: hidden;
    position: relative;
    width: calc(100vw - 80px);
    padding: 20px 40px;
    background-color: var(--color-grey);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    &:hover h1 svg {
      transform: translateX(20px);
      transform-origin: center;
      transition: all .8s ease-in;
      // animation: fadeIn 5s linear 2s infinite alternate;
    }
    &:hover .smallBlob{
      transform: scale(1.2);
      transform-origin: center;
      transition: all .8s ease-in;
    }
  }
  
  h1 {
    position: absolute;
    z-index: 5;
    font-family: var(--montserrat);
    font-weight: 700;
    font-size: 36px;
    color: var(--color-black);
    text-align: center;
    display: inline-flex;
    svg {
      width: 50px;
      position: absolute;
      top: 12px;
      right: -90px;
      transform: translateX(0px);
      transform-origin: center;
      transition: all .8s ease-out;
    }
  }

  .smallBlob {
    position: absolute; 
    top: -100px; 
    left: -280px; 
    width: 200px;
    transform: scale(1);
    transform-origin: center;
    transition: all .8s ease-out;
  }
}

@keyframes fadeIn {
  0% { right: -90px; }
  50% { right: -120px; }
  100% { right: -90px; }
}
@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}