footer {
    width: calc(100vw - 80px);
    padding: 20px 40px;
    background-color: var(--color-primary-yellow);
    /* background-color: green; */
    display: flex;
    flex-derection: row;
    justify-content: space-between;
    @media (--mq-mobile) {
        flex-direction: column;
    }

    p {
        font-family: var(--montserrat);
        font-size: 24px;
        color: #333;
        @media (--mq-mobile) {
            margin: 40px 0 10px 0;
        }
    }

    ul {
        list-style-type: none;
        font-family: var(--roboto);
        font-size: 18px;
        font-width: var(--font-light);
        color: #333;
        @media (--mq-mobile) {
            margin-top: 0;
            padding-left: 0;
        }
        img {
            padding-right: 15px;
        }
    }
}
