footer {
    width: calc(100vw - 80px);
    padding: 20px 40px;
    background-color: var(--color-primary-yellow);
    display: flex;
    flex-derection: row;
    justify-content: space-between;

    p {
        font-family: var(--montserrat);
        font-size: 24px;
        color: #333;
    }

    ul {
        list-style-type: none;

        font-family: var(--roboto);
        font-size: 18px;
        font-width: var(--font-light);
        color: #333;
        img {
            padding-right: 15px;
        }
    }
}
