/* Guide */
.guide {
    width: 100vw;
    height: auto;
    position: relative;
    padding-top: 80px;

    h2, h3 {
        font-weigh: var(--font-semibold);
        margin-bottom: 40px;
    }
    p {
        font-weigh: var(--font-light);
        line-height: 22px; 
    }

    .guide_steps {
        width: 100%;
        height: auto;
        position: relative;
    }
    .guide_overview {
        width: 450px;
        height: auto;
        position: absolute;
        top: 80px;
        right: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        @media (--mq-tablet) {
            display: none;
        }

        .menu {
            counter-reset: itemCounter; 
            .menu__item {
                text-decoration: none;
                transition: all .2s ease-in-out;
                font-size: 1.2em;
                font-weight: 700;
                margin: 3em 0;
                display: block;
                position: relative;
                color: var(--color-black);
                --menu-item-color: var(--color-secondary-red);
                @media (--mq-small-desktop) {
                    margin: 2em 0;
                }
                &:before {
                    content: counter(itemCounter,decimal-leading-zero);
                    font-size: 14px;
                    font-family: var(--montserrat);
                    font-weigh: var(--font-semibold);
                    position: absolute;
                    right: 105%;
                    bottom: calc(100% - 0.35em);
                    color: var(--color-black);
                    counter-increment: itemCounter;
                }
                &:hover,
                &:hover:before,
                &:focus:before {
                    color: var(--color-secondary-red);
                }

                .menu__item-name {
                    display: flex;
                    flex-wrap: wrap;
                    padding: .5em 0 0 0;
                    font-size: 1.5em;
                    font-family: var(--montserrat);
                    &:before,
                    &:after {
                        content: '';
                        position: absolute;
                        bottom: 100%;
                        left: 0;
                        width: 2em;
                        height: 3px;
                        background: var(--color-grey);
                    }

                    &::after {
                        background: var(--menu-item-color);
                        transform: scale3d(0,1,1);
                        transform-origin: 0% 50%;
                        transition: transform 0.5s;
                    }
                }
                &:hover .menu__item-name::after,
                &:focus .menu__item-name::after {
                    transform: scale3d(1,1,1);
                }
            }
        }
    }
   
    /* guideSteps
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
    .guideSteps{
        padding-bottom: 50px;
        
        ul {
            background: #fff;
            padding: 50px 0;

            li {
                list-style-type: none;
                position: relative;
                width: 70vw;
                margin-left: 80px;
                padding: 50px 0;
                border-left: 2px solid #333;
                @media screen and (max-width: 600px) {
                    margin-left: 40px;
                }

                div {
                    position: relative;
                    bottom: 0;
                    width: 50vw;
                    padding: 15px;
                    left: 45px;
                    @media screen and (max-width: 900px) {
                        width: 100%;
                    }
                    @media screen and (max-width: 600px) {
                        width: 90%;
                    }
                }
                svg {
                    width: 80px;
                    position: absolute;
                    top: 0;
                    left: -40px;
                    transform-origin: center;
                    transition: all .8s ease-out;
                }

                &:hover svg {
                    width: 90px;
                    transform-origin: center;
                    transition: all .8s ease-in;
                }
            }
        }
    }

    /* *** EFFECTS *** */
    .guideSteps ul li div, .guideSteps ul li svg {
        visibility: hidden;
        opacity: 0;
        transition: all .5s ease-in-out;
    }
    .guideSteps ul li div, .guideSteps ul li svg {
        transform: translate3d(200px, 0, 0);
    }
    .guideSteps ul li.in-view div, .guideSteps ul li.in-view svg {
        transform: none;
        visibility: visible;
        opacity: 1;
    }
}