/******* Headline-banner ********/
.headline-banner {
  width: 100vw;
  height: 50vh;
  position: relative;
  lost-align: top;
  lost-utility: clearfix;

  @media (--mq-tablet) {
    flex-direction: column;
  }
  
  .left, .right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: var(--color-black);
  }
  .right {
    lost-column: 2/3;
    @media (--mq-tablet) {
      lost-column: 3/3;
    }
  }
  .left {
    lost-column: 1/3;
    @media (--mq-tablet) {
      lost-column: 3/3;
      
      position: absolute;
      &:before {
        content: '';
        width: 95%;
        height: 95%;
        border: 2px solid rgba(255, 255, 255, 0.8);
        margin-left: 2%;
      }
    }
  }
  
  .left-text-box {
    position: absolute;
    background-color: var(--color-white);
    padding: 80px;
    @media (--mq-tablet) {
      background-color: rgba(255, 255, 255, 0.8);
      width: 90%;
      height: 90%;
      padding: 0px;
      margin: 0% 5%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align: center;

    }
  }

  .section-headline {
    margin-bottom: 20px;
    @media (--mq-tablet) {
      text-align: center;
    }
  }
  .info-text {
    @media (--mq-tablet) {
      text-align: center;
    }
  }

  img {
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover;
  }
}