.hero-banner {
  width: calc(100vw - 80px);
  padding: 20px 40px;
  background-color: var(--color-grey);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

    img {
      @media (--mq-mobile) {
        width: 300px;
      }
  }
}