.hero-banner {
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: var(--color-grey);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .menu__logo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    padding: 5px;
    transform: translateY(-50%);

    svg{
      width: 70%;
      max-height: 100%;
      margin: 0 auto;
      display: block;
      @media (--mq-large-desktop) {
        width: 90%;
        height: 100%;
      }
      @media (--mq-tablet) {
        width: 90%;
      }
      @media (--mq-mobile) {
        width: 95%;
      }
    } 

    h1 {
      font-family: var(--montserrat);
      font-weight: 700;
      font-size: 120px;
      letter-spacing: 2px;
      color: transparent;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: var(--color-black);
      user-select: none;

      max-width: 50%;
      z-index: 5;

      position: absolute;
      top: calc(50% - 250px);
      left: 25%;
      text-align: center;

      @media (--mq-large-desktop) {
        top: calc(50% - 150px);
      }
      @media (--mq-tablet) {
        font-size: 100px;
        max-width: 70%;
        left: 15%;
      }

      @media (--mq-mobile) {
        font-size: 50px;
        -webkit-text-stroke-width: 1.5px;
        top: calc(50% - 120px);
      }
    }
  }
}