.hero-banner {
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: var(--color-grey);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .menu__logo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    padding: 5px;
    transform: translateY(-50%);
    cursor: pointer;

    svg{
      width: 750px;
      margin: 0 auto;
      display: block;
    } 

    .tag-line {
      max-width: 50%;
      z-index: 5;
    }

    h1 {
      font-family: var(--montserrat);
      font-weight: 700;
      font-size: 120px;
      letter-spacing: 2px;
      color: transparent;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: var(--color-black);

      position: absolute;
      top: calc(50% - 250px);
      left: 25%;
      text-align: center;

      @media (--mq-mobile) {
        font-size: 50px;
      }
    }
  }
}