#first-infobox-container, #second-infobox-container {
  width: calc(100vw - 80px);
  margin: 0 40px 0 40px;
  height: 200px;
  background-color: var(--color-grey);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  lost-utility: clearfix;

  @media (--mq-mobile) {
    width: calc(100vw - 120px);
    height: 160px;
    padding: 20px;
  }
  
  
  .info {
    text-align: center;
    lost-column: 1/4 4 40px;

    @media (--mq-tablet) {
      lost-column: 1/2 2 80px;
    }

    h3 {
      color: var(--color-primary-yellow);
      font-family: var(--montserrat);
      font-weight: 500;
      font-size: 30px;
      
      @media (--mq-tablet) {
        font-size: 26px;
      }

      @media (--mq-mobile) {
        font-size: 18px;
      }
    }

    p {
      color: var(--color-black);
      font-family: var(--roboto);
      font-weight: 200;
      font-size: 18px;

      @media (--mq-tablet) {
        font-size: 14px;
      }

      @media (--mq-mobile) {
        font-size: 12px;
      }
    }
  }

  &.hero-info-box {
    margin-top: -180px;
    z-index: 3;
    position: relative;
  }
}

.section-headline {
  margin: 0 40px 40px 40px;

  h1 {
    color: var(--color-primary-black);
    font-family: var(--montserrat);
    font-weight: 700;
    font-size: 36px;
  }
}