#first-infobox-container, #second-infobox-container {
  /*width: calc(100vw - 80px);*/
  width: calc(100% - 80px);
  margin: 0 40px 0 40px;
  height: 200px;
  background-color: var(--color-grey);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  lost-utility: clearfix;

  @media (--mq-mobile) {
    width: calc(100vw - 120px);
    height: 160px;
    padding: 20px;
  }
  
  .info {
    text-align: center;
    lost-column: 1/4 4 40px;

    @media (--mq-tablet) {
      lost-column: 1/2 2 80px;
    }
  }
}

.info-box-headline {
  margin: 0 40px 40px 40px;
}