.search-container {
  width: 100vw;
  height: auto;
  position: relative;

  .search-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 160px 80px 80px 80px;
    background-color: var(--color-grey);
    margin-bottom: 80px;

    @media (--mq-mobile) {
      padding: 160px 40px 40px 40px;
    }

    .search-field {
      position: relative;
      width: 50%;
      @media (--mq-tablet) { width: 75%; }

      input {
        width: 100%;
        height: 40px;
        margin-bottom: 15px;
        outline: none;
        border: 1px solid var(--color-black);
        font-family: var(--roboto);
        font-size: 12px;
        font-weight: 200;
      }

      .search-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
      }
    }

    .filter-btns {
      /*width: 50%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      @media (--mq-tablet) { width: 75%; }
      @media (--mq-mobile) { display: none; }*/

      button {
        border: none;
        outline: none;
        height: 40px;
        background-color: var(--color-primary-yellow);
        color: var(--color-black);
        font-family: var(--montserrat);
        font-size: 14px;
        font-weight: 500;
        padding: 0 20px;
        margin: 10px;
        cursor: pointer;
        position: relative;
        z-index: 1;
        background: none;
        transition: color 0.3s;
        transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);

        &::before, &::after {
          content: '';
          z-index: -1;
          border-radius: inherit;
          pointer-events: none;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: transform 0.3s, opacity 0.3s;
          transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
        }

        &::before {
          border: 1px solid var(--color-primary-yellow);
          opacity: 0;
          transform: scale3d(1.2, 1.2, 1);
        }

        &::after {
          background: #fff;
        }

        &:hover::after {
          opacity: 0;
          transform: scale3d(0.8, 0.8, 1);
        }

        &:hover::before {
          opacity: 1;
          transform: scale3d(1, 1, 1);
        }
        &:focus::before {
          color: var(--color-primary-yellow);
          opacity: 1;
          transform: scale3d(1, 1, 1);
        }

        &:focus::after {
          color: var(--color-primary-yellow);
          opacity: 0;
          transform: scale3d(0.8, 0.8, 1);
        }

        &.btn-inverted {
          &::after {
            background: var(--color-primary-yellow);
          }
        }
      }
    }
  }  

  .resultscontainer {
    position: relative;
    display: flex;
  }
}
