.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-bottom: 0;

  @media (--mq-mobile) {
    padding-top: 80px;
  }

  .search-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

    @media (--mq-tablet) {
      width: 75%;
    }

    .search-field {
      position: relative;
      width: 100%;

      .search-icon {
        position: absolute;
        top: 10px;
        right: -30px;
        width: 20px;
      }
    }

    input {
      width: 100%;
      height: 40px;
      margin-bottom: 15px;  
      padding: 0 20px;
      outline: none;
      border: 1px solid var(--color-black);
      font-family: var(--roboto);
      font-size: 12px;
      font-weight: 200;
    }

    .filter-btns {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      outline: none;

      @media (--mq-mobile) {
        display: none;
      }

     button {
        border: none;
        outline: none;
        height: 40px;
        background-color: var(--color-primary-yellow);
        color: var(--color-black);
        font-family: var(--montserrat);
        font-weight: 500;
        font-size: 14px;
        padding: 0 20px;
        margin: 10px; 
        cursor: pointer;
        position: relative;
        z-index: 1;
        background: none;
        transition: color 0.3s;
        transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);

        &::before, &::after {
          content: '';
          z-index: -1;
          border-radius: inherit;
          pointer-events: none;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: transform 0.3s, opacity 0.3s;
          transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
        }

        &::before {
          border: 1px solid #37474f;
          opacity: 0;
          transform: scale3d(1.2, 1.2, 1);
          border-color: var(--color-primary-yellow);
        }

        &::after {
	        background: #fff;
        }

        &:hover::after {
          opacity: 0;
	        transform: scale3d(0.8, 0.8, 1);
        }

        &:hover::before {
          opacity: 1;
          transform: scale3d(1, 1, 1);
        }
        
        &:focus::before {
          color: var(--color-primary-yellow);
          opacity: 1;
          transform: scale3d(1, 1, 1);
        }

        &:focus::after {
          color: var(--color-primary-yellow);
          opacity: 0;
	        transform: scale3d(0.8, 0.8, 1);
        }

        &.btn-inverted {
          &::after {
            background: var(--color-primary-yellow);
          }
        }
      }




    .toggle-filter {
      color: var(--color-black);
      font-family: var(--roboto);
      font-weight: 200;
      font-size: 12px;
    }
  }
}
}