.imageslider {
    weidht: 100vw;
    height: 100vh;
    background-color: var(--color-white);

    display: flex;
    flex-direction: row;

    overflow: hidden;

    .item {
        width: 70%;
        height: calc(80% - 160px);
        margin: 80px 20px;
    }
}
