.fifty50 {
  width: 100vw;
  height: calc(100vh - 77px);
  display: flex;
  flex-direction: row;
  @media (--mq-mobile) {
    height: auto;
    flex-direction: column;
  }

  .item {
    width: 50%;
    @media (--mq-mobile) {
      width: 100%;
      height: auto;
    }

    &:first-child {
      background-image: url('../assets/venveo.png');
      background-size: cover;
      background-position: center left; 
      @media (--mq-mobile) {
        height: 40vh;
      }
    }

    h2, p {
      color: var(--color-black);
      padding: 20px 80px;
      @media (--mq-mobile) {
        padding: 20px 40px;
      }
    }

    h2 {
      font-family: var(--montserrat);
      font-weight: 500;
      font-size: 28px;
    }

    p {
      font-family: var(--roboto);
      font-weight: 300;
      font-size: 12px;
      line-height: 22px;
    }
  }
}