/* mediaqueries */
@custom-media --mq-mobile (max-width: 767px);
@custom-media --mq-tablet (max-width: 1024px);
@custom-media --mq-tablet-only (min-width: 768px) and (max-width: 1024px);
@custom-media --mq-small-desktop (max-width: 1450px);
@custom-media --mq-desktop (min-width: 1024px);
@custom-media --mq-large-desktop (min-width: 1600px);

:root {

  /* colors */
  --color-black: #333333;
  --color-white: #FFFFFF;
  --color-grey: #F2F2F2;
  --color-primary-yellow: #FFE500;
  --color-secondary-red: #B40B0B;
  --color-secondary-light-red: #F07F7F;

  /* fonts */
  --roboto: 'Roboto', sans-serif;
  --montserrat: 'Montserrat', sans-serif;

  --font-regular: 400;
  --font-light: 300;
  --font-semibold: 600;
  --font-bold: 700;

  /* margin */
  --margin-section: 80px;
  --grid-gutter: 40px;


  /* padding */
  --padding-text: 80px;

  /* size */

}

h1 {
  font-family: var(--montserrat);
  color: var(--color-black);
}
h2, h3 {
  font-family: var(--montserrat);
  font-size: 24px;
  color: var(--color-black);
}
p{
  font-family: var(--roboto);
  font-size: 14px;
  color: var(--color-black);
}